-# this index view corresponds to the index method in pics_controller
-# 2 - why use @pics? because i want the index page to show ALL the pictures. 
- @pics.each do |pic|
    %h2= link_to pic.title, pic  


