-#bootstrap syntax: tells the app to use up the middle 8 columns and offset by 2 on each side
.col-md-8.col-md-offset-2
    .row 
        .panel.panel-default
            .panel-heading 
                %h1 Post Pic  
            .panel-body 
                = render 'form'  